<!DOCTYPE html>
<html>
  <head>
    <title>Jamcamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/4978d83d65.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Public+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript">window.TerrapinURL = "<%= image_url('Terrapin_small.png') %>";</script>
    <script type="text/javascript">window.DancingBearsGIF = "<%= image_url('dancing_bears.webp') %>";</script>
    <script type="text/javascript">window.DancingBearsPNG = "<%= image_url('dancing_bears.png') %>";</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
